/********** Imports **********/
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway);
/********** Variables **********/
/********** Base **********/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-size: 18px;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, nav {
  font-family: 'Droid Serif', serif;
}

h2 {
  font-size: 2.5rem;
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 2.8rem;
  }
}

section {
  padding: 80px 0;
}

p {
  line-height: 200%;
}

.container {
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}
/********** Layout **********/
h2.title {
  text-align: center;
  margin-bottom: 45px;
  margin-top: 0;
}

section img {
  margin: 0 auto;
}

/********** Modules **********/
/********** Welcome **********/
.welcome {
  background: url("images/welcome.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 300px;
  position: relative;
}
.welcome a {
  color: white;
  text-decoration: none;
}

.welcome h3 {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .welcome h1 {
    font-size: 3.5rem;
  }
  .welcome h3 {
    font-size: 1.5rem;
  }
}
/********** Menu **********/
.navbar {
  margin-bottom: 0;
}

.navbar-quiet {
  background: #5a87a0;
  border-radius: 0;
  font-family: 'Raleway', serif;
  letter-spacing: 1.5px;
}
.navbar-quiet .navbar-inner {
  padding: 15px;
}
.navbar-quiet a {
  color: white;
}
.navbar-quiet .icon-bar {
  border: 1px solid white;
}

.navbar-inner > .container {
  max-width: 960px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #799fb4;
  height: 100%;
}

/********** About **********/
.about {
  /*background: $egg-white;*/
}
.about h2 {
  font-size: 2.3rem;
}

/*.about > .container {*/
/*max-width: 768px;*/
/*}*/
.about-picture {
  margin-bottom: 45px;
}
.about-picture img {
  /*height: 300px;*/
  /*width: 300px;*/
  border-radius: 150px;
}

.about-credentials {
  text-align: center;
  margin-bottom: 45px;
}
@media screen and (min-width: 992px) {
  .about-credentials {
    margin-top: 75px;
  }
}

/********** Acupuncture **********/
.acupuncture {
  /*background: $green;*/
}
.acupuncture ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .acupuncture ul {
    text-align: left;
  }
}
.acupuncture ul li {
  line-height: 200%;
  font-weight: 700;
}
.acupuncture ul p {
  padding: 0 10px;
}

.acupuncture-picture {
  margin: 45px;
  position: relative;
  /*background: url('images/treatment-room.jpg') center center no-repeat;*/
  background-size: cover;
  padding: 0;
  height: 300px;
}
@media screen and (min-width: 992px) {
  .acupuncture-picture {
    margin: 0;
  }
}

/********** Zero Balancing **********/
.zero-balancing {
  background: #aac2cf;
}

.zero-balancing-picture {
  margin-bottom: 45px;
}
@media screen and (min-width: 992px) {
  .zero-balancing-picture {
    margin-top: 65px;
  }
}

/********** About Treatment **********/
#about-treatment p {
  margin-bottom: 25px;
}

/********** Conditions Treated **********/
#conditions-treated ul {
  list-style-type: none;
}
#conditions-treated p {
  margin-bottom: 50px;
}
#conditions-treated li {
  margin-bottom: 25px;
}

/********** Questions? **********/
#questions ul {
  list-style-type: none;
}
#questions p {
  padding-left: 15px;
  margin-bottom: 50px;
}

/********** Contact **********/
.contact {
  background: url("images/contact.jpg") center center no-repeat;
  background-size: cover;
  height: 500px;
  padding: 0;
  position: relative;
}
.contact:after {
  content: '';
  position: absolute;
  background-color: #fff;
  opacity: .3;
  top: 0;
  height: 100%;
  width: 100%;
}

.contact-wrapper {
  text-align: center;
  height: 100%;
  padding-top: 100px;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.contact h3 {
  font-size: 1.8rem;
  line-height: 175%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0 10px;
}

.contact-email {
  color: #3e5e6f;
  cursor: pointer;
  text-decoration: none;
}
.contact-email:focus {
  text-decoration: none;
}
.contact-email:hover {
  text-decoration: none;
  color: #5a87a0;
}
@media screen and (max-width: 500px) {
  .contact-email {
    font-size: 1.6rem;
  }
}

/********** Utility Classes **********/
.stuck {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  opacity: .8;
}

.quote {
  text-align: center;
  color: #874769;
  line-height: 175%;
  font-size: 1.1rem;
}
